/* 전체 배경 검정색 */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 500px;
    margin: auto;
}

button {
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

button:hover {
    background-color: #e65c53;
}

/* 녹화 시작 버튼 (빨간 원형) */
.btn-record {
    background-color: red;
    color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 120px;
    margin: 20px;
    font-weight: bold;
}

/* 일반 버튼 (세련된 스타일) */
.btn {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
}

/* 버튼 섹션 스타일 */
.service-section, .secret-section {
    margin-top: 30px;
}

.gallery {
    margin-top: 20px;
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    min-height: 150px;
}

.video-section {
    margin-top: 30px;
}

video {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

#noVideosMessage {
    color: white;
    font-size: 18px;
    text-align: center;
}
